.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

form {
  width: 35%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

form p {
  font-size: 18px;
  font-weight: bold;
}

form label {
  margin-bottom: 5px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

input[type="number"] {
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.drop-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.select-box {
  width: 300px;
}

.form-select {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

button {
  width: 200px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0069d9;
}

#exchanged-rate {
  margin-top: 20px;
  font-size: 20px;
}